body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url("skill_image.jpg") no-repeat center center/cover;
    height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    top: 0;
    left: 0;
    z-index: -1;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background: rgba(0,0,0,0.7);
    color: white;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logout-btn {
    padding: 180px 150px;
    border: none;
    border-radius: 16px;
    background: red;
    color: white;
    cursor: pointer;
}


.dashboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
    flex-wrap: wrap;
}


.card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); 
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 25px;
    width: 230px;
    text-align: center;
    color: #fff;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}
.card .icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.card button {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    background: #ff4d5a;
    color: white;
    cursor: pointer;
}

.disabled {
    background: rgb(77, 67, 67);
}

 
/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(20, 30, 48, 0.95);
    color: white;
    padding: 0 25px;
    height: 60px;
    position: relative;
    z-index: 1000;
}

/* Logo */
.logo {
    font-size: 26px;
    font-weight: bold;
}

/* Welcome text center */
.welcome-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: 500;
}

/* Logout button */
.logout-btn {
    background: #ff3b3b;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}